<!DOCTYPE html>

<tr><td><p>Numero de preguntas: <%= quizes.length %></p></td></tr>
<tr><td><p>Numero de comentarios totales: <%= comentarios.length %></p></td></tr>
<tr><td><p>Numero medio de comentarios por pregunta: <%= media %></p></td></tr>
<tr><td><p>Numero de preguntas sin comentarios: <%= noComen %></p></td></tr>
<tr><td><p>Numero de preguntas con comentarios: <%= siComen %></p></td></tr>
