<!DOCTYPE html>


<p>Numero de preguntas: <%= quizes.length %></p>
<p>Numero de comentarios totales: <%= comentarios.length %></p>
<p>Numero medio de comentarios por pregunta: <%= media %></p>
<p>Numero de preguntas sin comentarios: <%= noComen %></p>
<p>Numero de preguntas con comentarios: <%= siComen %></p>

